html {
    height: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
}

@font-face {
  font-family: 'iconfont';  /* project id 335368 */
  src: url('//at.alicdn.com/t/font_bloh74zor1yh9f6r.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_bloh74zor1yh9f6r.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_bloh74zor1yh9f6r.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_bloh74zor1yh9f6r.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_bloh74zor1yh9f6r.svg#iconfont') format('svg');  /* iOS 4.1- */
}